.no-margin
{
  margin-bottom: 0px !important;
}

.yes-margin{
    margin-bottom: 10px !important;
}
footer.page-footer {
  bottom: 0;
  color: #fff;
}

body{
  overflow-x: hidden !important;
}

  footer.page-footer .container-fluid {
    width: auto; }
  footer.page-footer .footer-copyright {
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.2);
    color: rgba(255, 255, 255, 0.6); }
  footer.page-footer a {
    color: #fff; }

    .elegant-color {
      background-color: #2e2e2e !important; }
    
    .elegant-color-dark {
      background-color: #212121 !important; }
    
    .stylish-color {
      background-color: #4b515d !important; }
    
    .stylish-color-dark {
      background-color: #3e4551 !important; }
    
    .unique-color {
      background-color: #3f729b !important; }
    
    .unique-color-dark {
      background-color: #1c2331 !important; }
    
    .special-color {
      background-color: #37474f !important; }
    
    .special-color-dark {
      background-color: #263238 !important; }


